<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Satellite_Space_Collision_prevision"
        tools:targetApi="tiramisu">
        <activity
            android:name="sscp.satellite_space_collision_prevision.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_splash_screen"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name="sscp.satellite_space_collision_prevision.Configuration"
            android:label="@string/configuration_label"
            android:screenOrientation="landscape" />
        <activity
            android:name="sscp.satellite_space_collision_prevision.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>